.popup-placeholder
{
	font-weight:bold;
}
.popup-visible
{
	width:300px;
}
.popup-invisible
{
	position:absolute;
	left:-9999px;
}
#nom-origine-container
{
	margin-top:0px;
	margin-bottom:5px;
}
#nom-origine{font-style:italic;}
#block-messages
{
	height:30px;
	position:relative;
	overflow:hidden;
}
.message
{
	position:absolute;
	top:0;
	margin:0;
	height:100%;
	font-weight:bold; 
	-webkit-transition: all 0.5s linear;
}
.message-invisible{visibility:hidden;}
.message-visible({visibility:visible;}
#successmessage, #vidermessage{color:green;}
#errormessage{color:red;}
h1
{
	text-align:center; 
	width:100%;
}
center a
{
	font-weight:bold;
	display:inline-block;
}
.social{font-size:12px;}
.auteur
{
	font-size:11px;
	margin-top:20px;
}
