<link href="popup.css" rel="stylesheet" type="text/css" />

<div class="popup-placeholder popup-invisible">
	ENTG+ fonctionnera mieux sur l'ENTG, l'ami. ;)
</div>
<div class="popup-vrai popup-invisible">
	<script src="myjquery.js"></script>
	<script src="mytemplates.js"></script>
	<script src="popup.js"></script>

	<h1>ENTG+</h1>
	<div id="block-messages">
		<p class="message message-invisible" id="errormessage">Ce nom est d&eacute;j&agrave; utilis&eacute; par un groupe.</p>
		<p class="message message-invisible" id="successmessage">Le groupe a &eacute;t&eacute; renomm&eacute; !</p>
		<p class="message message-invisible" id="vidermessage">Tous les noms ont &eacute;t&eacute; r&eacute;initialis&eacute;s !</p>
	</div>

	<div class="form">
		<label for="categorie">Renommez l'onglet actuel</label> 
		<input type="text" name="categorie" id="categorie"/><br/>
		<p id="nom-origine-container">Nom d'origine : <span id="nom-origine"></span></p>
		<input type="submit" value="Renommer" id="renommer"/>
	</div>
	<br/><br/>
	
	<div class="form">
		<input type="checkbox" value="vider" name="vider" id="vider" />
		<label for="vider">Supprimer tous mes noms personnalisés</label>
		<input type="submit" value="Supprimer mes noms" id="vidervalider" />
	</div>
	<br/><br/>

	<center>
		<a href="http://www.insideelectronicpipo.com" title="Notre site Internet">Visitez le site d'Inside Electronic Pipo</a><br/>
		<a href="https://www.facebook.com/pages/Inside-Electronic-Pipo/124790934282475" title="Notre page Facebook" class="social" >Facebook</a>
		<a href="https://twitter.com/IElectronicPipo" title="Suivez-nous sur Twitter" class="social" >Twitter</a>
		<a href="https://plus.google.com/105094459241700156806/posts" title="Notre page Google+" class="social" >Google+</a>
	</center>
	<center class="auteur">D&eacute;velopp&eacute; par K&eacute;vin Locoh-Donou pour Inside Electronic Pipo</center>	
</div>
